<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../elevate.css">
    <title>Elevate Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class ="gradient:fadetoblack">

<div class = "col:x-center:y-center bg-position:left-center bg-color:indigo h:hScreen bd:solid:indigo-light:w-d2 @hover:[bg-color:green_pd-b:d4]">
    <img src="../logo.svg" class ="h:c2 w:c2 mg-t:d8">
    <h1 class ="font:semibold:sans:heading5 text:white:center mg-t:d12 shadow:soft-text">Utility First, Design Driven.</h1>
    <a href="https://elevate-docs.pages.dev" class = "cursor:pointer font:medium:sans:base text:indigo-lightest pd:d3 mg-t:d6 bd:r-d3 bg-color:indigo @hover:[mg-t:d9_text:white_font:semibold_shadow:soft]">View The Documentation</a>
</div>



</body>

