<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../elevate.css">
    <title>Elevate Dashboard</title>
</head>
<body>

<div class = "buffer color:purple row:x-center:y-start /lg/ stack:x-center:y-start">
    <div class ="$selector w:fill color:white relative">
    <p class ="absolute left:d12 h:d12 w:d12 color:green m:d1 z:20">Item</p>
    <p class ="h:d12 w:d12 color:green m:d1">Item</p>
    <p class ="h:d12 w:d12 color:green m:d1">Item</p>
    </div>
</div>

<div class = "color:purple stack:x-center:y-start p:d1">
    <p class ="h:d12 w:d12 color:green m:d1">Item</p>
    <p class ="h:d12 w:d12 color:green m:d1">Item</p>
    <p class ="h:d12 w:d12 color:green m:d1">Item</p>
</div>


</div>


</body>
</html>