<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../elevate.css">
    <title>Elevate Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class = "contain grid:cols-1:gap-d6 w:full h:s4 bg-color:white /lg/ grid:cols-3:rows-6 ">

    <div class = "bg-color:indigo"></div>
    <div class = "bg-color:indigo"></div>
    <div class = "bg-color:indigo"></div>
    <div class = "bg-color:indigo"></div>
    <div class = "bg-color:indigo"></div>
    <div class = "bg-color:indigo"></div>

 
</div>

</body>
